*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0a0a0a;
}
.music-player-box{
    max-width: 420px;
    border-radius: 10px;
    width: 95%;
    height: 90vh;
    margin: 20px auto;
    padding: 10px;
    border: red solid 5px;
}
.player-disk{
    margin: auto;
    margin-top: 20px;
    width: 350px;
}

.player-disk img{
    width: 100%;

}
.music-progress{
    margin-top: 20px;
}
.music-progress #progress{
    width: 60%;
    height: 10px;
    margin: auto;
    display: block;
    -webkit-appearance: none;
    border-radius: 15px;
    background: pink;
}
::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px white solid;
    background: tomato;
}
.controller{
    width: 60%;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #dc3545;
    border-radius: 10px;
}
.controller button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background: #0a0a0a;
    color: white;
    border: 3px solid white;
}
.rotate{
    animation: disk 10s infinite linear;
}

@keyframes disk {
    0%{
        transform: rotate(-360deg);
    }
}